body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
    background-color: #a7d1e3;
   

}

header {
    background-color: #2c3e50;
    padding: 20px;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

header nav ul li {
    color: #ecf0f1;
    margin: 0 10px;
}

header nav ul li img.logo {
    height: 50px;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    width: 5000%;
    gap: 2cm;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('ruta/a/tu/imagen.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;


}

.steps-box, .upload-box {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    flex: 1;
}

.steps {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.steps ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.steps ol li {
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
}

.steps ol li .circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.steps ol li.active .circle {
    background-color: #3498db;
    color: #ffffff;
}

.steps ol li.active {
    font-weight: bold;
    border-left: 4px solid #3498db;
    background-color: #f0f4ff;
    border-radius: 5px;
}

.btn {
    background-color: #3498db;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    text-align: center;
}

.upload-section {
    display: flex;
    flex-direction: column;
}

#dropzone {
    padding: 20px;
    border: 2px dashed #3498db;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}

.upload-icon {
    height: 0px;
    margin-bottom: 20px;
}

#dropzone p {
    margin: 10px 0;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
}

form input, form textarea {
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin-bottom: 10px;
}

#fotos {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#fotos li {
    margin: 10px;
}

#fotos img {
    height: 100px;
    width: auto;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}
